<!-- Moved Challenge Instructions & Refactoring List to Readme -->

{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "table_builder/table-builder.css" %}'>
    <meta charset="UTF-8">
    <title>Simple Table Builder</title>
  </head>

  <body>

    <h1 class="page-header text-center">Your Accounts</h1>

    <div class="container well col-md-8 col-md-offset-2">

      <table class="table table-bordered" id='accounts_table'>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </table>

      <hr/>

      <div id="forms" class='col-md-4'>
        <form action='/create'>
          <button class='btn btn-default'>
            Add New Account
          </button>
        </form>
        {% block forms%}
        {% endblock %}
      </div>

    </div>

  </body>

  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src='{% static "table_builder/table-builder.js" %}'></script>
  </footer>

</html>
