<!--

Purpose
========
Build a HTML table out of json data

Exercise
==========
Refactor the code using Web Development best practices.

Notes
=======

- You are free to use any additional libraries that may be needed to simplify your code
- Bonus points for styling the page
- Additional Bonus for including any missing functionality. You are free to imagine what would make sense
if you were building this as part of an app.

- Make a list of refactorings that you have applied as a running list below:


Refactorings Applied
=====================
- Moved JavaScript to an external linked file
- Added footer for link to JavaScript file
- Added doctype
- Added character encoding
- Fixed indentation so there is another indent for each level
- Moved table structure to html page, keeping data and function in js page
- Defined a function for the accounts data so it can be reused with other data
- Moved 'strong' styling on 'Total' row to an external css file

-->
{% load staticfiles %}
<!doctype html>

  <head>
      <link rel='stylesheet' href='{% static "table_builder/table-builder.css" %}'>
      <title>Simple Table Builder</title>
      <meta charset="UTF-8">
  </head>

  <body>
    <!-- Make title dynamic -->
    <h1>Your Accounts</h1>

    <div class="container" id='target'>

      <table id='accounts_table'>
        <tr>
          {% for header in headers %}
          <th>{{header}}</th>
          {% empty %}
          No Accounts have been loaded
          {% endfor %}
        </tr>
        {% for account in accounts %}
        <tr>
          <td>{{account.name}}</td>
          <td>{{account.amount}}</td>
          <td>{{account.status}}</td>
        </tr>
        {% empty %}
        {% endfor %}
        <tr class='total'>
          <td>Total</td>
          <td>{{total}}</td>
          <td></td>
        <tr>
      </table>

    </div>

  </body>

  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='{% static "table_builder/table-builder.js" %}'></script>
  </footer>

</html>
